# Workshop 9 [Student]

This notebook will cover the following topics:

1. Series
    - Indexing
    - Modification
2. Dataframe
    - Read CSV to Dataframe
    - Informative Functions
    - Modification Functions
    - Selection Functions
4. Handling Missing Data

## 9.1 SERIES (Follow)

**Learning Objectives:**

1. Understand Series in Pandas.
2. Understand attributes of Series.
3. Understand modification functions for Series.
4. Manipulate data using Series.

In [ ]:
"""
Add comments for you own reference
"""

import pandas as pd
s = pd.Series([40, 50, 60])
s.index = ['A', 'B', 'C']
s.name = 'Values'
print(s, "\n")
print(s['B'], "\n")
print(s[1:], "\n")
print(s[-1], "\n")

In [ ]:
"""
Add comments for you own reference
"""

s.update(pd.Series([10], index=['A']))
print(s)
s.rename({'A': 'X'}, inplace=True)
print(s)
s.replace(20, 15, inplace=True)
print(s)

**Evaluation:**

After running this program, think about and answer these questions:

1. What is the use of Index and Name?
2. Try to understand how slicing works in Series.
3. What does the update() function do?
3. What does the rename() function do?
3. What does the replace() function do?

## 9.1 SERIES (Group)

Write a program that will do the following:

1. Generate a series of grades for 10 Students (referenced by student ID)
2. Add a 10 point boost to all grades
3. Change the student IDs to contain a prefix ST
4. Replace all grades below 50 to 0

In [5]:
import pandas as pd
import random


class Students:
    def __init__(self):
        self.grades = []
        self.StudentIDs = []
        self.df = None

    def setRandomGrades(self):
        for i in range(10):
            self.grades.append(random.randint(20, 100))

    def setStudentIDs(self):
        for i in range(1001, 1011):
            self.StudentIDs.append(i)

    def BuildDataFrame(self):
        self.df = pd.DataFrame(
            {'StudentID': self.StudentIDs, 'Grades': self.grades})
        # print(self.df)

    def AddTentoGrades(self):
        self.df['Grades'] += 10
        # print(self.df)

    def prependST(self):
        newlist = []
        for i in self.StudentIDs:
            newlist.append(str(f'ST{i}'))
        self.StudentIDs = newlist
        self.df.update({'StudentID': self.StudentIDs, 'Grades': self.grades})

    def findLT50(self):
        Failed = self.df['Grades'] <= 50
        self.df.loc[Failed, 'Grades'] = 0

    def __str__(self):
        return f'{self.df}'

In [6]:
myClass = Students()
myClass.setRandomGrades()

## 9.2 DATAFRAME (Follow)

**Learning Objectives:**

1. Understand Dataframe in Pandas.
2. Understand attributes of a Dataframe.

In [7]:
myClass.setStudentIDs()
print(myClass)

None

In [8]:
myClass.BuildDataFrame()
print(myClass)

   StudentID  Grades
0       1001      81
1       1002      26
2       1003     100
3       1004      59
4       1005      67
5       1006      70
6       1007      87
7       1008      85
8       1009      91
9       1010      96

In [9]:
myClass.AddTentoGrades()
print(myClass)

   StudentID  Grades
0       1001      91
1       1002      36
2       1003     110
3       1004      69
4       1005      77
5       1006      80
6       1007      97
7       1008      95
8       1009     101
9       1010     106

In [10]:
myClass.prependST()
print(myClass)

  StudentID  Grades
0    ST1001      81
1    ST1002      26
2    ST1003     100
3    ST1004      59
4    ST1005      67
5    ST1006      70
6    ST1007      87
7    ST1008      85
8    ST1009      91
9    ST1010      96

In [11]:
myClass.findLT50()
print(myClass)

  StudentID  Grades
0    ST1001      81
1    ST1002       0
2    ST1003     100
3    ST1004      59
4    ST1005      67
5    ST1006      70
6    ST1007      87
7    ST1008      85
8    ST1009      91
9    ST1010      96

In [ ]:
"""
Add comments for you own reference
"""

import pandas as pd

df = pd.DataFrame([10, 20, 30])
display(df)
display(type(df))

df = pd.DataFrame({'Name': ['A', 'B', 'C'], 'Age': [10, 20, 30]})
display(df)
display(type(df['Age'][0]))

In [ ]:
"""
Add comments for you own reference
"""

import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo"
    })
display(df)
display(type(df['E'][0]))

**Evaluation:**

After running this program, think about and answer these questions:

1. How many dimentions does a dataframe have?
2. How to Convert List into Dataframe?
3. What types of data can a dataframe hold?
4. How does Dataframe index its elements?

## 9.2 DATAFRAME (Group)

**Write a program that will do the following:**

1. Create a dataframe with employees, job title, salary, and years worked.
2. There should be at least 5 entries.
3. Add indexes to the rows so when you display the dataframe it will display properly.
4. Try exploring the pandas library writing commands from the library.
5. You may be asked to share things you did.

In [12]:
import pandas as pd
import random


class Employees:
    def __init__(self):
        self.EmployeeName = []
        self.EmployeeIDs = []
        self.JobTitle = []
        self.Salary = []
        self.yearsworked = []
        self.EmployeeIDs = []
        self.df = None

    def addEmployee(self, EID, name, JobTitle, Salary, YearsWorked):
        self.EmployeeIDs.append(EID)
        self.EmployeeName.append(name)
        self.JobTitle.append(JobTitle)
        self.Salary.append(Salary)
        self.yearsworked.append(YearsWorked)

    def setRandom(self, start, stop):
        return random.randint(int(start), int(stop))

    def BuildDF(self):
        self.df = pd.DataFrame({
                'Name': self.EmployeeName,
                'Job Title': self.JobTitle,
                'Salary': self.Salary,
                'Years Worked': self.yearsworked},
            index=self.EmployeeIDs)
        display(self.df)

    def __str__(self):
        return f'{self.df}'

In [13]:
MyEmployee = Employees()
MyEmployee.addEmployee(1000, 'Jeff', 'El Jefe', '10000000', 1)
MyEmployee.addEmployee(1002, 'Lori', 'My Wife', 0, MyEmployee.setRandom(1, 18))
MyEmployee.addEmployee(1003, 'Ryan', 'My Son', 'Owes me!', 25)
MyEmployee.addEmployee(1004, 'Rufus', 'My Dog', 0, 3)
MyEmployee.addEmployee(1005, 'Smokey', 'My Cat', 0, 18)

MyEmployee.BuildDF()

        Name Job Title    Salary  Years Worked
1000    Jeff   El Jefe  10000000             1
1002    Lori   My Wife         0            16
1003    Ryan    My Son  Owes me!            25
1004   Rufus    My Dog         0             3
1005  Smokey    My Cat         0            18

## 9.3 READING a CSV (Follow)
1. Learn to import CSV in dataframe.
2. Understand Descriptive functions for Dataframe.
3. Understand Modification functions for Dataframe.
4. Understand Selection functions for Dataframe.
5. Manipulate data using Dataframe.

In [14]:
"""
Add comments for you own reference
"""

import pandas as pd

df = pd.read_csv("Iris.csv")
display(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [ ]:
print(df.shape)

In [15]:
display(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [18]:
print(df.tail())

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

In [17]:
print(df['SepalWidthCm'].value_counts())

3.0    26
2.8    14
3.2    13
3.1    12
3.4    12
2.9    10
2.7     9
2.5     8
3.5     6
3.3     6
3.8     6
2.6     5
2.3     4
3.7     3
2.4     3
2.2     3
3.6     3
3.9     2
4.4     1
4.0     1
4.1     1
4.2     1
2.0     1
Name: SepalWidthCm, dtype: int64

In [16]:
print(df.describe())

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
"""
Add comments for you own reference
"""

print(df.shape)
dt = df.transpose()
print(dt.shape)
print(dt.head())

In [ ]:
di = df.sort_index(axis=1, ascending=False)
print(di.head())
print(di.tail())

In [ ]:
di = df.sort_values(by="SepalWidthCm")
print(di.head())
print(di.tail())

**Evaluation:**

After running this program, think about and answer these questions:

1. What does head() function do?
2. What does tail() function do?
3. What information does describe() give?
4. What does transpose() function do?
5. What is the difference between sort_index and sort_values?

## 9.3 READING a CSV (Group)

Write a program that will do the following:

1. Use 'heart.csv' Data set.
2. Perform all the above operations on the data set to understand the data

In [2]:
import pandas as pd

class ReadingACSV():
    def __init__(self,Filename):
        self.df  = pd.read_csv(Filename)

    def getShape(self):
        display(self.df.shape)

    def getHead(self):
        display(self.df.head())

    def getTail(self):
        display(self.df.tail())

    def getDescription(self):
        display(self.df.describe())

    def TransposeDemo(self):
        display(self.df.shape)
        dt = self.df.transpose()
        display(dt.shape)
        display(dt.head())

    def SortDemo(self,Axis,Ascending):
        di = self.df.sort_index(axis=Axis, ascending=Ascending)
        display(di.head())
        display(di.tail())


myCSV = ReadingACSV('heart.csv')

In [25]:
myCSV.getShape()

(1025, 14)

In [26]:
myCSV.TransposeDemo()

(1025, 14)

(14, 1025)

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024
age,52.0,53.0,70.0,61.0,62.0,58.0,58.0,55.0,46.0,54.0,...,58.0,65.0,53.0,41.0,47.0,59.0,60.0,47.0,50.0,54.0
sex,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
cp,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
trestbps,125.0,140.0,145.0,148.0,138.0,100.0,114.0,160.0,120.0,122.0,...,128.0,138.0,123.0,110.0,112.0,140.0,125.0,110.0,110.0,120.0
chol,212.0,203.0,174.0,203.0,294.0,248.0,318.0,289.0,249.0,286.0,...,216.0,282.0,282.0,172.0,204.0,221.0,258.0,275.0,254.0,188.0

In [27]:
myCSV.getHead()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [3]:
myCSV.getDescription()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [29]:
myCSV.SortDemo(0,True)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

## 9.4 Location functions in Pandas (Follow)
1. Understand how to use loc and iloc in pandas.
2. Understand what loc and iloc do in a dataframe.

In [13]:
"""
Add comments for you own reference
"""
import pandas as pd

df = pd.read_csv("Iris.csv")

ds = df.loc[1]
print(ds)

Id                         2
SepalLengthCm            4.9
SepalWidthCm             3.0
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object

In [28]:
ds = df.iloc[0]
print(ds)

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [ ]:
ds = df.at[70, 'SepalWidthCm']
print(ds)

In [ ]:
ds = df.iat[70, 2]
print(ds)

In [ ]:
ds = df[df['SepalLengthCm'] > 7]
print(ds.head())

In [ ]:
ds = df[df['SepalLengthCm'].isin([5, 6, 7])]
print(ds.head())

In [29]:
da = df.iloc[:, :-1].apply(lambda x: x.max()-x.min())
print(da)

Id               149.0
SepalLengthCm      3.6
SepalWidthCm       2.4
PetalLengthCm      5.9
PetalWidthCm       2.4
dtype: float64

**Evaluation:**

After running this program, think about and answer these questions:

1. What does loc() and at() do?loc and at uses Row, column names to find data
2. What does iloc() and it() do?Iloc and Iat uses numerical indexes to find data
3. What is the difference between all selection functions?

## 9.4 Location functions in Pandas (Group)

Write a program that will do the following:

1. Use Heart.csv Data set.
2. Print the column names and number of rows in data
2. Get a row number from the user.
3. Get a column name from the user.
4. Print:
    - Row.
    - Column.
    - Row X Column

In [9]:
import pandas as pd

class ReadingACSV():
    def __init__(self,Filename):
        self.df  = pd.read_csv(Filename)
    
    def listColumns(self):
        print(list(self.df.columns))
        print(self.df.shape[0]," rows")

    def getLocation(self,Row,ColumnName):
        print("Row Data:\n",self.df.iloc[Row].head())
        print('column Data:\n',self.df.loc[:,ColumnName].head())
        print(self.df.loc[Row,ColumnName])

        

myCSV = ReadingACSV('Heart.csv')

In [10]:
#myCSV.listColumns()
myCSV.getLocation(0,'age')

Row Data:
 age          52.0
sex           1.0
cp            0.0
trestbps    125.0
chol        212.0
Name: 0, dtype: float64
column Data:
 0    52
1    53
2    70
3    61
4    62
Name: age, dtype: int64
52

## 9.5 MISSING DATA (Follow)

**Learning Objectives:**

1. Understand the concept of Missing Data.
2. Learn to point out missing data.
3. Understand how to deal with missing data.
4. Learn different functions to deal with missing data.

In [1]:
"""
Add comments for you own reference
"""

import pandas as pd

df = pd.read_csv("mamograph.csv", na_values='NaN')
print(df.head())

   BI-RADS   Age   Shape   Margin   Density   Severity
0      5.0  67.0     3.0      5.0       3.0          1
1      4.0  43.0     1.0      1.0       NaN          1
2      5.0  58.0     4.0      5.0       3.0          1
3      4.0  28.0     1.0      1.0       3.0          0
4      5.0  74.0     1.0      5.0       NaN          1

In [6]:
dn = df.copy()
print(dn.shape)
dx = dn.dropna()
print(dx.shape)
print(dx.head())

(961, 6)
(830, 6)
    BI-RADS   Age   Shape   Margin   Density   Severity
0       5.0  67.0     3.0      5.0       3.0          1
2       5.0  58.0     4.0      5.0       3.0          1
3       4.0  28.0     1.0      1.0       3.0          0
8       5.0  57.0     1.0      5.0       3.0          1
10      5.0  76.0     1.0      4.0       3.0          1

In [7]:
dn2 = df.copy()
print(dn2.shape)
dx2 = dn2.fillna(3.0)
print(dx2.shape)
print(dx2.head())

(961, 6)
(961, 6)
   BI-RADS   Age   Shape   Margin   Density   Severity
0      5.0  67.0     3.0      5.0       3.0          1
1      4.0  43.0     1.0      1.0       3.0          1
2      5.0  58.0     4.0      5.0       3.0          1
3      4.0  28.0     1.0      1.0       3.0          0
4      5.0  74.0     1.0      5.0       3.0          1

In [8]:
print(pd.isna(df).head())

   BI-RADS    Age   Shape   Margin   Density   Severity
0    False  False   False    False     False      False
1    False  False   False    False      True      False
2    False  False   False    False     False      False
3    False  False   False    False     False      False
4    False  False   False    False      True      False

**Evaluation:**

After running this program, think about and answer these questions:

1. What does dropna() function do?
1. What does fillna() function do?
1. What does isna() function return?

## 9.5 MISSING DATA (Group)

Write a program that will do the following:

1. Use 'marketing.csv'
2. Perform these tasks seperately
    - Drop all rows with NaN
    - Replace NaN values in marketing.csv column with mean of each column.

In [4]:
import pandas as pd

class ReadingACSV():
    def __init__(self,Filename):
        self.df  = pd.read_csv(Filename)
        self.df.slice = self.df.iloc[0:5,0:6]

    def getCSVHead(self):
        print(self.df.slice.head())

    def RemoveNAN(self):
        print(self.df.slice.dropna().head())

    def fillNAN(self):
        print(self.df.slice.fillna(self.df.slice.mean()))        

myCSV = ReadingACSV('Marketing.csv')

/var/folders/l9/h5dvkz7j3hd_drx72rrfs9d80000gn/T/ipykernel_17706/1808154315.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.df.slice = self.df.iloc[0:5,0:6]

In [ ]:
print(myCSV.df.slice.iloc[:,4].mean())

In [5]:
myCSV.getCSVHead()
myCSV.RemoveNAN()
myCSV.fillNAN()

   Sex   MaritalStatus   Age   Education   Occupation   YearsInSf
0    2             1.0     5         4.0          5.0         5.0
1    1             4.0     6         3.0          NaN         5.0
2    1             1.0     4         6.0          1.0         NaN
3    2             1.0     5         5.0          1.0         5.0
4    2             1.0     3         5.0          1.0         5.0
   Sex   MaritalStatus   Age   Education   Occupation   YearsInSf
0    2             1.0     5         4.0          5.0         5.0
3    2             1.0     5         5.0          1.0         5.0
4    2             1.0     3         5.0          1.0         5.0
   Sex   MaritalStatus   Age   Education   Occupation   YearsInSf
0    2             1.0     5         4.0          5.0         5.0
1    1             4.0     6         3.0          2.0         5.0
2    1             1.0     4         6.0          1.0         5.0
3    2             1.0     5         5.0          1.0         5.0
4    2             1.0     3         5.0          1.0         5.0

## 9.6 Pandas project (Group)

**Write a program that will do the following:**
1. Read in the teamsummaries.csv dataset included.  
2. Do some basic statistical analysis.  
3. Try to create an argument to determine the best NBA team of all time.  
4. You may also use a different dataset and do a different analysis. 
5. Use the pandas library in your project.

In [60]:
import pandas as pd

class TeamSummaries:
    def __init__(self,filename):
        self.filename = filename
        self.df = None

        self.readfile()
    def readfile(self):
        self.df = pd.read_csv(self.filename)
        display(self.df.head())

    def displayStats(self):       
        display(self.df.describe())

    def getMostWins(self):
        #display(self.df.loc[self.df['w'].idxmax()])
        display(self.df[self.df['w']==self.df['w'].max()])

    def PivotTable(self):
        pivot = pd.pivot_table(self.df, index=['team'], aggfunc={'playoffs':sum, 'w':sum, 'season':'count'})
        display(pivot)

In [61]:
bbteams = TeamSummaries('Team Summaries.csv')
#bbteams.displayStats()
bbteams.getMostWins()
bbteams.PivotTable()

,season,lg,team,abbreviation,playoffs,age,w,l,pw,pl,...,tov_percent,orb_percent,ft_fga,opp_e_fg_percent,opp_tov_percent,opp_drb_percent,opp_ft_fga,arena,attend,attend_g
0,2022,NBA,Atlanta Hawks,ATL,False,26.1,28.0,30.0,30.0,28.0,...,11.3,22.8,0.199,0.540,11.2,77.5,0.174,State Farm Arena,481111.0,16037.0
1,2022,NBA,Boston Celtics,BOS,False,26.0,34.0,26.0,40.0,20.0,...,12.7,23.8,0.194,0.496,12.7,77.3,0.180,TD Garden,574680.0,18538.0
2,2022,NBA,Brooklyn Nets,BRK,False,29.1,31.0,28.0,30.0,30.0,...,12.4,23.4,0.190,0.516,11.6,75.7,0.192,Barclays Center,479506.0,17125.0
3,2022,NBA,Chicago Bulls,CHI,False,26.2,38.0,21.0,34.0,25.0,...,11.9,20.9,0.198,0.533,12.0,78.6,0.189,United Center,641618.0,20697.0
4,2022,NBA,Charlotte Hornets,CHO,False,25.6,29.0,31.0,28.0,32.0,...,11.6,23.1,0.172,0.540,13.3,75.3,0.189,Spectrum Center,476337.0,17012.0

,season,lg,team,abbreviation,playoffs,age,w,l,pw,pl,...,tov_percent,orb_percent,ft_fga,opp_e_fg_percent,opp_tov_percent,opp_drb_percent,opp_ft_fga,arena,attend,attend_g
195,2016,NBA,Golden State Warriors,GSW,True,27.4,73.0,9.0,65.0,17.0,...,13.5,23.5,0.191,0.479,12.6,76.0,0.208,Oracle Arena,803436.0,19596.0

                     playoffs  season       w
team
Anaheim Amigos              0       1    25.0
Anderson Packers            1       1    37.0
Atlanta Hawks              33      54  2137.0
Baltimore Bullets          10      18   559.0
Boston Celtics             57      76  3496.0
...                       ...     ...     ...
Virginia Squires            4       6   200.0
Washington Bullets         13      23   887.0
Washington Capitols         5       6   201.0
Washington Wizards          8      25   836.0
Waterloo Hawks              0       1    19.0

[97 rows x 3 columns]