# Workshop 10 [Student]

This notebook will cover the following topics:

1. Basic statistics
    - Central Tendancy
    - Feature Scaling
2. Visualization
    - Plots
3. Final project

## 10.1 BASIC STATISTICS (Follow)

**Learning Objectives**
1. Understand mean, median, and mode and when to use each and what they mean
2. Understand standard deviation
3. Understand Z-Score
4. Understand normalization

In [42]:
"""
Add comments for you own reference
"""

import pandas as pd
import numpy as np


speed = pd.Series([99,86,87,88,111,86,103,87,94,78,77,85,86])
print(speed)
# print(speed.mean())
print(speed.median())
# print(speed.mode())
# print(speed.std())
# values, counts = np.unique(speed, return_counts=True)
# print(values, '\n', counts)

velocity = pd.Series([99,86,87,88,111,86,103,87,94,78,77,85,86, 1000000])
# print(velocity)
# print(velocity.mean())
# print(velocity.median())
# print(velocity.mode())
# print(velocity.std())

postal_codes = pd.Series([52801, 52802, 52803, 52801, 78318, 90210, 77318, 27511, 27513, 27514, 49093, 49008])
# print(postal_codes)
# print(postal_codes.mean())
# print(postal_codes.median())
# print(postal_codes.mode())
# print(postal_codes.std())

0      99
1      86
2      87
3      88
4     111
5      86
6     103
7      87
8      94
9      78
10     77
11     85
12     86
dtype: int64
87.0

In [53]:
"""
Add comments for you own reference
"""

def standardize(X, mean, std):
    standardized_val = (X-mean)/std
    return standardized_val

def normalize(X, X_max, X_min):
    normalized_value = (X-X_min)/(X_max-X_min)
    return normalized_value

In [52]:
"""
Add comments for you own reference
"""

for item in speed:
    print(standardize(item, speed.mean(), speed.std()))
    print(normalize(item, speed.max(), speed.min()))
print('**************************************')
for item in velocity:
    print(standardize(item, velocity.mean(), velocity.std()))
    print(normalize(item, velocity.max(), velocity.min()))

0.9579127470142705
0.6470588235294118
-0.39114770503082774
0.2647058823529412
-0.28737382410428175
0.29411764705882354
**************************************
-0.2672267002754167
2.2001694130448044e-05
-0.2672753461883217
9.00069305336511e-06
-0.26727160419502133
1.0000770059294565e-05

**Evaluation:**

After running this program, think about and answer these questions:

1. How is Z_score Calculated?
2. How is Data Normalized?
3. What is the use of Standardization and Normalization?

## 10.1 BASIC STATISTICS (Group)

Write a program that will do the following:

1. Use the Iris dataset.
2. Calculate mean, median, mode of each column(Except Target class)
3. Standardize and Normalize each column.

In [64]:
import pandas as pd

class BasicStats():
    def __init__(self,Filename):
        
        self.filename = Filename
        self.df =None
        self.setDataframe()

    def setDataframe(self):
        self.df = pd.read_csv(self.filename)

    def displayStats(self):
        display(self.df.mean())
        display(self.df.mode())
        display(self.df.median())

    def standardize(self):
        standardized_val = (self.df-self.df.mean())/self.df.std()
        display( standardized_val)
    
    def normalize(self):
        normalized_value = (self.df-self.df.min())/(self.df.max()-self.df.min())
        display( normalized_value)

In [65]:
myStats = BasicStats('Iris.csv')
#myStats.displayStats()
myStats.standardize()
myStats.normalize()

C:\Users\jgoek\AppData\Local\Temp\ipykernel_10004\1645307397.py:19: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  standardized_val = (self.df-self.df.mean())/self.df.std()
C:\Users\jgoek\AppData\Local\Temp\ipykernel_10004\1645307397.py:19: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  standardized_val = (self.df-self.df.mean())/self.df.std()

,Id,PetalLengthCm,PetalWidthCm,SepalLengthCm,SepalWidthCm,Species
0,-1.714797,-1.336794,-1.308593,-0.897674,1.028611,NaN
1,-1.691780,-1.336794,-1.308593,-1.139200,-0.124540,NaN
2,-1.668762,-1.393470,-1.308593,-1.380727,0.336720,NaN
3,-1.645745,-1.280118,-1.308593,-1.501490,0.106090,NaN
4,-1.622728,-1.336794,-1.308593,-1.018437,1.259242,NaN
...,...,...,...,...,...,...
145,1.622728,0.816888,1.443121,1.034539,-0.124540,NaN
146,1.645745,0.703536,0.918985,0.551486,-1.277692,NaN
147,1.668762,0.816888,1.050019,0.793012,-0.124540,NaN
148,1.691780,0.930239,1.443121,0.430722,0.797981,NaN
149,1.714797,0.760212,0.787951,0.068433,-0.124540,NaN

## 10.2 VISUALIZATION (Follow)

**Learning Objectives**
1. Understand importance of Visualization
2. Learn visualization techniques
3. Learn to relate data to visual graphs

In [ ]:
import pandas as pd

df = pd.read_csv("Iris.csv")

### BOX PLOT

In [ ]:
import matplotlib.pyplot as plt

fig = plt.figure(figsize =(5, 5))
 
plt.boxplot(df['SepalWidthCm'])

plt.show()

### SCATTER PLOT

In [ ]:
import matplotlib.pyplot as plt

fig = plt.figure(figsize =(5, 5))
 
plt.scatter(df['SepalLengthCm'],df['SepalWidthCm'])

plt.show()

### HISTOGRAM

In [ ]:
import matplotlib.pyplot as plt

fig = plt.figure(figsize =(5, 5))
 
plt.hist(df['SepalWidthCm'])

plt.show()

### BAR PLOT

In [ ]:
import matplotlib.pyplot as plt

fig = plt.figure(figsize =(15, 5))
 
plt.bar(df.columns,list(df.nunique()))

plt.show()

### PIE CHART

In [ ]:
import matplotlib.pyplot as plt

fig = plt.figure(figsize =(15, 5))
 
plt.pie(list(df.nunique())[1:],labels = df.columns[1:])

plt.show()

**Evaluation:**

After running this program, think about and answer these questions:

1. What does each graph represent?
2. Try looking up the documentation for each visualization and add more changes to the graphs.
3. What can be concluded from each of the representations?

## 10.2 VISUALIZATION (Group)

Write a program that will do the following:

1. Use the heart dataset.
2. Generate a:
    - Box Plot
    - Scatter Plot
    - Histogram
    - Bar Plot
    - Pie Chart
3. Use Columns of your liking. (The visualization must give appropriate and useful information)

### BOX PLOT

### SCATTER PLOT

### HISTOGRAM

### BAR PLOT

### PIE CHART

# 10.3 PROJECT (Group)

**Write a program that will do the following:**
1. Read in the following 2 files:  NCEL-Cash5.csv and NCEL-Cash5-Detailed.csv
2. Calculate the return on investment (ROI) from playing the same 5 numbers every time the game is offered.
3. Calculate the ROI from playing 5 random numbers on each draw.
4. For an added challenge, change this calculation to occur starting at an arbitrary start date (rather than the beginning of the data set).
5. For an even greater challenge, run multiple trials for the above setup and report the average ROI for all trials.

**Notes for calculating winnings:**
1. Ball order does not matter.
2. Costs \\$1 for each draw (ie. \\$2 for days that have double play)
3. Each draw is five numbers and range from 1 to 43
4. May 15, 2014 balls drawn changed from 39 -> 41
5. Nov 4, 2018  balls drawn changed from 41 -> 43

**Winners are as follows:**
1. Match 0 balls = \$0
2. Match 1 ball = \$0
3. Match 2 balls = \$1
4. Match 3 balls = \$5
5. Match 4 balls = use prize_4 or prize_4_double_play from Detailed file
6. Match 5 balls = use prize_5 or prize_5_double_play from Detailed file


**Output the following:**
1. 5 numbers played
2. dollars spent playing
3. dollars won
4. return on investment as a percentage


**Just for fun: What happened on July 11, 2007?**
&nbsp;


<center> <b> NCEL-Cash5.csv format: </b> </center>

| Date:  | Ball N:  | DP: 0 - False, 1 - True |
|--------|----------|-------------------------|
|date of drawing | winning ball numbers  | "Double Play" | 
| (m/d/Y) | in order drawn | , or second play of the day. |
|         |           |  First introduced 4/25/2021 |                             

&nbsp;  

<center> <b> NCEL-Cash5-Detailed.csv format: </b> </center>


| Date: | prize_n: | winners_n: | *_double_play_*: |
|-------|----------|------------|------------------|
| date of drawing | prize amount for matching | winner count for | double play value |
| (m/d/Y) | n numbers correctly | matching n numbers. |for that winner amount or prize pool. |